* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url(/assets/wallpapers/bg3.jpg);
  background-size: cover;
  overflow: hidden;
}

.content {
  height: 92vh;
  width: 100vw;
  padding: 1rem 1rem 2rem 0;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
  grid-template-columns: repeat(18, 1fr);
  grid-auto-flow: column;
  border: none;
  outline: none;
}

.content:focus {
  box-shadow: none;
}

nav {
  height: 8vh;
  width: 100vw;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.search {
  border: 1.5px solid whitesmoke;
  background-color: azure;
  border-radius: 25px;
  height: 2rem;
  width: 15rem;
  padding: 1rem;
  outline: none;
}

.search:focus {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.search:hover {
  cursor: text;
}

.icons {
  height: 2.7rem;
  border-radius: 5px;
  padding: 5px;
  transition: 0.2s ease-in;
}

.an-p {
  align-items: start;
}

.icons:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

nav .icons {
  height: 2.5rem;
}

.sdiv {
  font-size: 2rem;
  font-weight: bold;
  color: #d4caec;
  padding: 0 20px;
  border-radius: 12px;
  display: inline-block;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  grid-row: 1 / 3;
  grid-column: 14/ 19;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

#clock,
.ico,
.sdiv:hover {
  cursor: pointer;
}

i {
  font-size: 1rem;
}

.ico {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 10%;
  justify-content: space-evenly;
  align-items: center;
}

.line {
  height: 90%;
  width: 3px;
  background-color: #d4caec;
  border-radius: 5px;
}

#clock {
  width: 15rem;
  padding: 0;
}

.first {
  width: 17rem;
  display: flex;
  flex: 1;
  align-items: center;
  column-gap: 0.1rem;
}

.pin {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.not {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

#eat {
  grid-row: 1/2;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bell {
  display: none;
}

.nf-bar {
  position: fixed;
  height: 73vh;
  bottom: 3.3rem;
  right: -22rem;
  width: 21.7rem;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 10px;
  color: #000;
  transition: 0.2s ease-in;
  overflow-y: auto;
  
}

.nf-bar::-webkit-scrollbar {
  display: none;
}

#bell:checked ~ .nf-bar {
  right: 1rem;
}

.icon-nf {
  height: 1.2rem;
}

.nf-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.n-opt{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.cleare-nf {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  height: 1.5rem;
  width: 4rem;
  color: #000;
}

.icon-nf {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  height: 1.5rem;
  width: 1.5rem;
}

.cleare-nf:hover,
.icon-nf:hover {
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.font-1 {
  font-family: "Roboto Slab", serif;
}

#heading {
  font-weight: 500;
}

.hed-icon {
  height: 1.2rem;
}

.dp {
  height: 1.2rem;
}

.mess-1 {
  width: 100%;
  height: auto;
  margin-top: 1.5rem;
  
}

.mess-box {
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 0.1rem 0.5rem;

}

#message {
  padding: 1rem;
}

.badge {
  background-color: red;
  height: 0.6rem;
  width: 0.9rem;
  border-radius: 10px;
  color: white;
  font-size: 0.5rem;
  text-align: center;
  font-weight: 600;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-0.5rem);
}

input[type="search"] {
  background: url('/assets/icons/Search.png') no-repeat 10px center;
  padding-left: 35px;   
  background-size: 20px; 
}

.hide {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 19vh;
  bottom: 3.3rem;
  left: -9rem;
  width: 9rem;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  color: #000;
  transition: 0.2s ease-in;
  row-gap: 0.3rem;
  padding: 5px 2px;
  justify-content: center;
}

.menu p {
  display: flex;
  align-items: center;
}

.menu p:hover {
  cursor: pointer;
}

#hid:checked ~ .menu {
  left: 1rem;
}

.men-opt {
  font-family: "Roboto Slab", serif;
  background: transparent;
  font-weight: 500;
}

.icon2 {
  height: 2rem;
  border-radius: 5px;
  padding: 5px;
  transition: 0.2s ease-in;
}

.icon2:hover {
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.draggable {
  position: absolute;  /* icons ko free move karne ke liye */
  cursor: grab;
}

.draggable:active {
  cursor: grabbing;
}

@media (min-height: 700px) {
  .nf-bar {
    height: 75vh;
    bottom: 4.5rem;
  }

  .menu {
    bottom: 4rem;
    padding: 7px 3px;
    height: 15vh;
  }
}
